In [51]:
# Normal Equation Algorithm to find the linear function of multiple variables/features

# So if you have m data with n features + target feature (the dependent feature), you think of the data as matrix
# with m row and n + 1 column and target feature as vector of R^m.
# So X*B = Y, for X = data matrix, Y = target vector, and B = parameter vector
# To solve be we can use B = inv(trans(X)*X)*trans(X)*Y

import numpy as np
import pandas as pd

# Importing csv data
data = pd.read_csv('C:/Users/Fadilah/Desktop/ML/mlr04.csv')

In [52]:
data.head()

           X1    X2        X3    X4
0   85.099998   8.5  5.100000   4.7
1  106.300003  12.9  5.800000   8.8
2   50.200001   5.2  2.100000  15.1
3  130.600006  10.7  8.399999  12.2
4   54.799999   3.1  2.900000  10.6

### Hollywood Movies

- The data (X1, X2, X3, Y) are for each movie
- X1 = first year box office receipts/millions
- X2 = total production costs/millions
- X3 = total promotional costs/millions
- X4 = total book sales/millions

You can get the dataset here : http://college.cengage.com/mathematics/brase/understandable_statistics/7e/students/datasets/mlr/excel/mlr02.xls

In [53]:
# Because one of the paramater is just a constant number so we need to add a new column with value 1

data['X0'] = 1
y = data[['X4']]
data = data[['X0', 'X1', 'X2', 'X3']]

In [54]:
print(data.head())
print(y.head())

   X0          X1    X2        X3
0   1   85.099998   8.5  5.100000
1   1  106.300003  12.9  5.800000
2   1   50.200001   5.2  2.100000
3   1  130.600006  10.7  8.399999
4   1   54.799999   3.1  2.900000
     X4
0   4.7
1   8.8
2  15.1
3  12.2
4  10.6

In [85]:
# B = inv(trans(X)*X)*trans(X)*Y
X = np.matrix(data)
Y = np.matrix(y)
B = np.linalg.pinv(X.transpose()*X)*X.transpose()*Y
print("The hypothesis function we got using Normal Equation :")
print("h(X) = %f + %fX1 + (%fX2) + (%fX3)" % (B[0], B[1], B[2], B[3]))

The hypothesis function we got using Normal Equation :
h(X) = 0.999575 + 0.340680X1 + (-0.756516X2) + (-2.756566X3)